/*Set Background Image and font style*/
body {
  background-image: url("Media_Files/clouds.jpeg");
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }

/*Style header elements*/
h1,h2,h3,h4,h5 {
  color: #2F4F4F;
  margin-left: 20px;
  text-decoration: underline;
    } 	

/*Class to make element bold*/
.bold	{ 
  font-weight: bold;
  font-size: 20px;
  font-family: "Verdana", Geneva, sans-serif;

    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  }

li {
  float: left;
  width: 25%  ;
  }

li a {
  display: block;
  text-decoration-color: #b4b4b4
  color: #D3D3D3;
  text-align: center;
  padding: 14px 16px;
  border: 1px solid #e7e7e7;
  text-decoration: none;
  }

 li a.active {
  background-color: #808080;
  color: white;
} 


table.design, .design td, .design tr {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid black;
  padding: 15px;

  }

th {
  background-color: #b4b4b4;
  border: 3px solid black;
  padding: 15px;	
  }

#header		{	
  clear: both;
	text-align: center;
	padding: 1px;
	width: 100%;
	}

#footer		{	
	background-color: #C0C0C0;
	clear: both;
	text-align: center;
	padding: 1px;
	width: 100%
	}

#content	{	
	clear: both;
	text-align: center;
	padding: 1px;
	min-height: 100%;
	width: 100%
	}